<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="API_KEY" value="" />
		<!--set your api key here-->
		<add key="API_URL" value="https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/1cd89b2a-6b3a-481d-8982-63ef134421d6" /> 
	</appSettings>
</configuration>